@model SAD.Cobranca.UI.Models.ApplicationUser
@{
    ViewBag.Title = "Remover usuário | SAD";
}
<div class="container-d">
    <div class="container">
        <div class="row pt-5">
            <hgroup class="mb-3">
                <h1 class="col-12 font-weight-bold px-0">USUÁRIO</h1>
                <h5 class="col-12 font-weight-light px-0">Tem certeza que deseja remover o usuário selecionado?</h5>
            </hgroup>
        </div>
        @Html.Partial("_MenuUsuarios")
        <div class="row justify-content-lg-start">
            <div class="col-lg-6 col-sm-12 px-0">
                <dl class="row no-gutters">
                    <dt class="col-lg-3 f-size-6 font-weight-normal text-uppercase">@Html.DisplayNameFor(model => model.UserName)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(model => model.UserName)</dd>
                    <dt class="col-lg-3 f-size-6 font-weight-normal text-uppercase">@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(model => model.Email)</dd>

                    <dt class="col-lg-3 f-size-6 font-weight-normal text-uppercase">@Html.DisplayNameFor(model => model.LockoutEndDateUtc)</dt>
                    <dd class="col-lg-9">@Html.DisplayFor(model => model.LockoutEndDateUtc)</dd>
                </dl>
                @using (Html.BeginForm("Delete", "Account"))
                {
                    @Html.AntiForgeryToken()

                    <div class="row">
                        <div class="col-lg-6 col-sm-12">
                            @Html.ActionLink("Voltar", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-link" })
                            <input type="submit" value="Remover" class="btn btn-danger cursor-p" />
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-6 col-sm-12 px-0">
                @Html.Partial("_ErrorSummary")
            </div>
        </div>
    </div>
</div>